/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px){
/*Style*/
}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px){
/*Style*/
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px){
/*Style*/
}

body {
    padding: 8%;
    font-family: verdana;
    text-align: center;
    margin-top: 1%;
    line-height: 30px;
    background-image: url("https://devopsdotmy.github.io/CMS/devops.my/maintenance_page/public/background.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}
.txtblue {
    font-size: 16px;
    font-weight: 400;
    color: #0094ff;
    font-weight: bold;
}
.txtyellow {
    font-size: 16px;
    color: #ffd400;
    font-weight: bold;
}
.imgcenter {width:40%;
}