html {
    padding: 8%;
    font-family: verdana;
    text-align: center;

    line-height: 30px;
    background-image: url("https://devopsdotmy.github.io/CMS/devops.my/maintenance_page/public/background.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.txtblue {
    font-size: 16px;
    font-weight: 400;
    color: #0094ff;
    font-weight: bold;
}
.txtyellow {
    font-size: 16px;
    color: #ffd400;
    font-weight: bold;
}
.imgcenter {
    background-repeat: no-repeat;
    background-size: contain;
}