/* ==================================================== */
/* Template : Coming Soon */
/* Authour  : https://downloadfort.com/ */
/* LIcense  :  https://downloadfort.com/License */
/* Template URL: https://downloadfort.com/ */
/* ==================================================== */
body {
    padding: 8%;
    font-family: verdana;
    text-align: center;
    margin-top: 1%;
    line-height: 30px;
    background-color:#FFFFFF;
}
.txtblue {
    font-size: 16px;
    font-weight: 400;
    color: #010326;
}
.txtgold {
    font-size: 16px;
    color: #BF9004;
}
.imgcenter {width:40%;
}