body {
    padding: 8%;
    font-family: verdana;
    text-align: center;
    margin-top: 1%;
    line-height: 30px;
    background-image: url("https://devopsdotmy.github.io/CMS/devops.my/maintenance_page/public/background.gif");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}